In [1]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

In [2]:
df = pd.read_csv('datasets/2. online_shoppers_intention_dirty.csv')

In [3]:
df.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region
count,12493.000000,12493.000000,12493.000000,12493.000000,12493.000000,12493.000000,12493.000000,12493.000000,11867.000000,12493.000000,12493.000000,12493.000000,12493.000000
mean,2.309773,80.349079,0.502601,34.338417,31.701273,1192.826452,0.022215,0.043140,5.850627,0.061522,2.126231,2.357480,3.154166
std,3.325365,175.923745,1.267123,140.065823,44.351149,1907.068647,0.048426,0.048567,18.494055,0.199092,0.909706,1.716813,2.402753
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,184.333333,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000
50%,1.000000,7.000000,0.000000,0.000000,18.000000,598.778571,0.003175,0.025309,0.000000,0.000000,2.000000,2.000000,3.000000
75%,4.000000,92.500000,0.000000,0.000000,38.000000,1464.209618,0.017123,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000

# Check for missing data and data type of each column

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12493 entries, 0 to 12492
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12493 non-null  int64
 1   Administrative_Duration  12493 non-null  float64
 2   Informational            12493 non-null  int64
 3   Informational_Duration   12493 non-null  float64
 4   ProductRelated           12493 non-null  int64
 5   ProductRelated_Duration  12493 non-null  float64
 6   BounceRates              12493 non-null  float64
 7   ExitRates                12493 non-null  float64
 8   PageValues               11867 non-null  float64
 9   SpecialDay               12493 non-null  float64
 10  Month                    12493 non-null  object
 11  OperatingSystems         12493 non-null  int64
 12  Browser                  12493 non-null  int64
 13  Region                   12493 non-null  int64
 14  TrafficType              12493 non-null  object
 15  VisitorType              12493 non-null  object
 16  Weekend                  12493 non-null  bool
 17  Revenue                  12493 non-null  bool
dtypes: bool(2), float64(7), int64(6), object(3)
memory usage: 1.5+ MB

In [6]:
df.isnull().sum()

Administrative               0
Administrative_Duration      0
Informational                0
Informational_Duration       0
ProductRelated               0
ProductRelated_Duration      0
BounceRates                  0
ExitRates                    0
PageValues                 626
SpecialDay                   0
Month                        0
OperatingSystems             0
Browser                      0
Region                       0
TrafficType                  0
VisitorType                  0
Weekend                      0
Revenue                      0
dtype: int64

## Impute missing values for "PageValues" column using median

"PageValues" column is extremely skewed, due to the fact that the 75th percentile value is "0". By imputing the median (50th percentile) which is value "0", we maintain the distribution of the column.

In [9]:
df['PageValues'] = df['PageValues'].fillna(df['PageValues'].median())

# Check if missing values have been imputed
df.isnull().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

# Check for duplicate rows

In [11]:
# Check for total number of duplicated rows
df.duplicated().sum()

269

In [12]:
# Vusually inspect the values of all columns of the duplicated rows
df[df.duplicated()]

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
158,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Feb,1,1,1,3,Returning_Visitor,False,False
159,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Feb,3,2,3,3,Returning_Visitor,False,False
178,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Feb,3,2,3,3,Returning_Visitor,False,False
418,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Mar,1,1,1,1,Returning_Visitor,True,False
456,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,Mar,2,2,4,1,Returning_Visitor,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12487,0,0.0,0,0.0,15,432.500000,0.000000,0.015385,0.0,0.0,May,2,6,6,1,Returning_Visitor,False,False
12488,0,0.0,0,0.0,56,4377.983333,0.004286,0.022296,0.0,0.8,May,4,1,1,4,Returning_Visitor,False,False
12489,0,0.0,0,0.0,56,4377.983333,0.004286,0.022296,0.0,0.8,May,4,1,1,4,Returning_Visitor,False,False
12490,5,77.0,0,0.0,94,3210.848218,0.002128,0.020922,0.0,0.0,Oct,2,2,3,2,Returning_Visitor,True,False
12492,5,77.0,0,0.0,94,3210.848218,0.002128,0.020922,0.0,0.0,Oct,2,2,3,2,Returning_Visitor,True,False

Visual inspection indicates that we can keep the first occurance of each duplicated values.

## Delete duplicate rows

In [15]:
df = df.drop_duplicates(keep='first')

In [16]:
# Check for any duplicates left
df.duplicated().sum()

0

In [17]:
# Check for number of rows after deleting duplicate rows
len(df.index)

12224

# Check for unique values in each column

In [19]:
for col in df:
    print(col, ": ",df[col].unique(), "\n")

Administrative :  [ 0  1  2  4 12  3 10  6  5  9  8 16 13 11  7 18 14 17 19 15 24 22 21 20
 23 27 26]

Administrative_Duration :  [  0.         53.         64.6       ... 167.9107143 305.125
 150.3571429]

Informational :  [ 0  1  2  4 16  5  3 14  6 12  7  9 10  8 11 24 13]

Informational_Duration :  [  0.   120.    16.   ... 547.75 368.25 211.25]

ProductRelated :  [  1   2  10  19   0   3  16   7   6  23  13  20   8   5  32   4  45  14
  52   9  46  15  22  11  12  36  42  27  90  18  38  17 128  25  30  21
  51  26  28  31  24  50  96  49  68  98  67  55  35  37  29  34  71  63
  87  40  33  54  64  75  39 111  81  61  47  44  88 149  41  79  66  43
 258  80  62  83 173  48  58  57  56  69  82  59 109 287  53  84  78 137
 113  89  65  60 104 129  77  74  93  76  72 194 140 110 132 115  73 328
 160  86 150  95 130 151 117 124 127 125 116 105  92 157 154 220 187 112
 131 159  94 204 142 206 102 313 145  85  97 198 181 126 106 101 108 119
  70 122  91 276 100 291 114 172 217 141 133 156 136 180 135 195  99 362
 179 118 175 148 440 103 178 184 705 134 176 146 189 120 193 222 121 107
 305 199 439 223 230 280 377 310 158 486 153 139 182 221 229 216 170 202
 346 274 240 162 123 211 227 168 161 429 686 167 518 256 255 358 213 191
 282 155 138 246 237 271 171 414 219 262 409 243 241 197 449 143 188 391
 238 152 165 293 174 584 164 311 340 250 200 385 292 232 251 517 225 169
 309 235 501 224 275 318 144 397 343 245 186 337 351 166 349 423 359 163
 147 264 312 226 324 266 260 338 272 534 470 207 218 326 190 304 205 233
 401 177 330 286 247 357 315 231 339 283 374 248 279 281 234 261 290 336
 378 254 183 210 192]

ProductRelated_Duration :  [  0.          64.           2.66666667 ... 465.75       184.25
 346.        ]

BounceRates :  [0.2        0.         0.05       ... 0.00382775 0.00086956 0.01114899]

ExitRates :  [0.2        0.1        0.14       ... 0.01276133 0.01395349 0.02903061]

PageValues :  [ 0.         19.44707913 38.30849268 ... 78.81172527  3.68540082
 12.24171745]

SpecialDay :  [0.  0.4 0.8 1.  0.2 0.6]

Month :  ['Feb' 'february' 'Mar' 'May' 'Mayy' 'Oct' 'June' 'Jul' 'Aug' 'Nov' 'Sep'
 'october' 'Dec']

OperatingSystems :  [1 2 4 3 7 6 8 5]

Browser :  [ 1  2  3  4  5  6  7 10  8  9 12 13 11]

Region :  [1 9 2 3 4 5 6 7 8]

TrafficType :  ['1' '2' '3' '4' 'four' 'five' 'three' '6' 'one' 'two' '5' '7' '8' '9'
 '10' '11' '12' 'eleven' '13' 'seven' '14' 'ten' '15' 'nine' 'thirteen'
 'eight' '18' 'six' '19' 'sixteen' 'fifteen' '17' '20' '16' 'nineteen'
 'fourteen' 'twenty']

VisitorType :  ['Returning_Visitor' 'New_Visitor' 'Other']

Weekend :  [False  True]

Revenue :  [False  True]

## For column "Month", it is noted that there are some typos for February, May, and October

The correct mapping is: \
feburary -> Feb \
Mayy -> May \
october -> Oct

In [21]:
# Create a dictionary to map the typos to correct month names
corrections = {'february': 'Feb',
               'Mayy': 'May',
               'october': 'Oct'
              }

# Replace typos with correct month names
df.loc[:, 'Month'] = df['Month'].replace(corrections)

# Check to see if the replacement worked
df['Month'].unique()

array(['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep',
       'Dec'], dtype=object)

## For column "TrafficType", it is noted that the values are some in numerical form, some in words, let's align them all to numeric form and change datatype to integer

In [23]:
# Create a dictionary to map the typos to correct month names
corrections = {'four': '4',
               'five': '5',
               'three': '3',
               'one': '1',
               'two': '2',
               'eleven': '11',
               'seven': '7',
               'ten': '10',
               'nine': '9',
               'thirteen': '13',
               'eight': '8',
               'six': '6',
               'sixteen': '16',
               'fifteen': '15',
               'nineteen': '19',
               'fourteen': '14',
               'twenty': '20'
              }

# Replace typos with correct month names
df.loc[:, 'TrafficType'] = df['TrafficType'].replace(corrections)

# Convert column to integer datatype
df['TrafficType'] = df['TrafficType'].astype('int64')

# Check to see if the replacement worked
print(df['TrafficType'].unique())

# Check to see if the datatype change worked
print(df['TrafficType'].dtypes)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 18 19 16 17 20]
int64

# Check for all data again

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12224 entries, 0 to 12491
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12224 non-null  int64
 1   Administrative_Duration  12224 non-null  float64
 2   Informational            12224 non-null  int64
 3   Informational_Duration   12224 non-null  float64
 4   ProductRelated           12224 non-null  int64
 5   ProductRelated_Duration  12224 non-null  float64
 6   BounceRates              12224 non-null  float64
 7   ExitRates                12224 non-null  float64
 8   PageValues               12224 non-null  float64
 9   SpecialDay               12224 non-null  float64
 10  Month                    12224 non-null  object
 11  OperatingSystems         12224 non-null  int64
 12  Browser                  12224 non-null  int64
 13  Region                   12224 non-null  int64
 14  TrafficType              12224 non-null  int64
 15  VisitorType              12224 non-null  object
 16  Weekend                  12224 non-null  bool
 17  Revenue                  12224 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.6+ MB

In [26]:
for col in df:
    print(col, ": ",df[col].unique(), "\n")

Administrative :  [ 0  1  2  4 12  3 10  6  5  9  8 16 13 11  7 18 14 17 19 15 24 22 21 20
 23 27 26]

Administrative_Duration :  [  0.         53.         64.6       ... 167.9107143 305.125
 150.3571429]

Informational :  [ 0  1  2  4 16  5  3 14  6 12  7  9 10  8 11 24 13]

Informational_Duration :  [  0.   120.    16.   ... 547.75 368.25 211.25]

ProductRelated :  [  1   2  10  19   0   3  16   7   6  23  13  20   8   5  32   4  45  14
  52   9  46  15  22  11  12  36  42  27  90  18  38  17 128  25  30  21
  51  26  28  31  24  50  96  49  68  98  67  55  35  37  29  34  71  63
  87  40  33  54  64  75  39 111  81  61  47  44  88 149  41  79  66  43
 258  80  62  83 173  48  58  57  56  69  82  59 109 287  53  84  78 137
 113  89  65  60 104 129  77  74  93  76  72 194 140 110 132 115  73 328
 160  86 150  95 130 151 117 124 127 125 116 105  92 157 154 220 187 112
 131 159  94 204 142 206 102 313 145  85  97 198 181 126 106 101 108 119
  70 122  91 276 100 291 114 172 217 141 133 156 136 180 135 195  99 362
 179 118 175 148 440 103 178 184 705 134 176 146 189 120 193 222 121 107
 305 199 439 223 230 280 377 310 158 486 153 139 182 221 229 216 170 202
 346 274 240 162 123 211 227 168 161 429 686 167 518 256 255 358 213 191
 282 155 138 246 237 271 171 414 219 262 409 243 241 197 449 143 188 391
 238 152 165 293 174 584 164 311 340 250 200 385 292 232 251 517 225 169
 309 235 501 224 275 318 144 397 343 245 186 337 351 166 349 423 359 163
 147 264 312 226 324 266 260 338 272 534 470 207 218 326 190 304 205 233
 401 177 330 286 247 357 315 231 339 283 374 248 279 281 234 261 290 336
 378 254 183 210 192]

ProductRelated_Duration :  [  0.          64.           2.66666667 ... 465.75       184.25
 346.        ]

BounceRates :  [0.2        0.         0.05       ... 0.00382775 0.00086956 0.01114899]

ExitRates :  [0.2        0.1        0.14       ... 0.01276133 0.01395349 0.02903061]

PageValues :  [ 0.         19.44707913 38.30849268 ... 78.81172527  3.68540082
 12.24171745]

SpecialDay :  [0.  0.4 0.8 1.  0.2 0.6]

Month :  ['Feb' 'Mar' 'May' 'Oct' 'June' 'Jul' 'Aug' 'Nov' 'Sep' 'Dec']

OperatingSystems :  [1 2 4 3 7 6 8 5]

Browser :  [ 1  2  3  4  5  6  7 10  8  9 12 13 11]

Region :  [1 9 2 3 4 5 6 7 8]

TrafficType :  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 18 19 16 17 20]

VisitorType :  ['Returning_Visitor' 'New_Visitor' 'Other']

Weekend :  [False  True]

Revenue :  [False  True]

# Export dataframe to csv file

In [28]:
df.to_csv('datasets/3. online_shoppers_intention_clean.csv', sep=',', index=False, encoding='utf-8')